
{% extends "template.htm" %}

{% block cabecalho %}
	<title>WikiRace</title>
    <link rel="stylesheet" href="../../static/estilo.css">
{% endblock %}

{% block conteudo %}
    <div>
        <img class="displayed" src="../../static/wikirace.png" alt="logo" style="width:450px;height:175px;">
    </div>

    
    <a class="btn from-bottom" href="{% url 'mododejogo'%}">Jogar</a>
    {% if user.is_authenticated %}
        <a class="btn from-bottom" href="{% url 'logout'%}">Logout</a>
    {% else %}
        <a class="btn from-bottom" href="{% url 'login'%}">Login</a>
    {% endif %}
    <a class="btn from-bottom" href="{% url 'analises' %}">Análises</a>
    
{% endblock %}