
{% extends "template.htm" %}
{% load static %}

{% block cabecalho %}
    <title>Inicio</title>
{% endblock %}

{% block estilo %}
	<link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}">
{% endblock %}

{% block conteudo %}
    <p>
        Seu objetivo é chegar a <a href=""></a> {{objetivostr}}
        
    </p>
    <embed src="https://en.wikipedia.org/wiki/{{objetivo}}" >

    <div class = "box">
        <table>
            <tr><td><a class="btn from-bottom" href="/corrida/{{objetivo}}/Special:random">Começar</a></td></tr>
        </table>
    </div>
{% endblock %}