<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title>Wisadfsadfce</title>
    </head>

    <body>
        <div>
            vc deve ir até {{objetivostr}}
        </div>
        
        <div class = "box">
            <table>
                <tr><td><a class="btn btn-primary" href="/corrida/{{objetivo}}/Special:random">Jogsadsadar</a></td></tr>
                <tr><td><a class="btn btn-primary" href="create.htm">Estaafsdastisticas</a></td></tr>
            </table>
        </div>
    </body>
</html>